.navbar {
  background-color: greenyellow;
  padding: 0.2rem 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: black;
  text-decoration: none;
}

.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/*  */

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.logo-img {
  height: 3rem;
}

.logo-text {
  color: black;
  font-size: 1.5rem;
}

/*  */
